name: publish docs

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"

      - name: install deps
        run: |
          pip install -U -r requirements.txt
          pip install -U sphinx

      - name: build docs
        run: cd docs && make html && mv _build/html /tmp/html

      - name: push to gh-pages
        run: |
          git config user.name "GithubAction"

          git fetch --all
          SRC_HEAD=$(git rev-parse --short HEAD)
          git restore .
          git checkout -b gh-pages origin/gh-pages
          rm -rf ./*

          cp -a /tmp/html/. ./
          # make sure there is a nojekyll file the root of pages to bypass Jekyll processing
          touch .nojekyll
          git add -A
          git commit -m "Published $SRC_HEAD"
          git push origin gh-pages -f
